<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/nav :: nav"></div>
<div class="container">

    <form th:action="/create/post" th:object="${PostForm}" method="post">
        <div class="form-group">
            <h5>게시글 작성</h5>
            <div class="mb-3">
                <label for="formGroupExampleInput" th:for="title" class="form-label">제목</label>
                <input type="text" th:field="*{title}" class="form-control" id="formGroupExampleInput"
                       placeholder="Example input placeholder">
            </div>
            <div class="form-floating">
                <textarea th:field="*{content}" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                          style="height: 100px"></textarea>
                <label for="floatingTextarea2" th:for="content">Comments</label>
            </div>
            <button type="submit">작성하기</button>
        </div>
    </form>

</div>
</div>
</body>
</html>